/**************
CSS Reset
**************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************
Header Styles
**************/

h1 {
  position: relative;
  left: 5%;
}

/**************
Piano Styles
**************/

.piano {
  left: 30%;
  position: relative;
}

.white-key {
  top: 50px;
  width: 60px;
  height: 320px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  position: absolute;
  border-radius: 5px;
}

.white-key.pressed-key {
  height: 317px;
  /*border-width: 1px 5px 2px;*/
  /*border-color: gray;*/
  box-shadow: 5px 1px 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
}

.white-key:hover {
  cursor: pointer;
}

.black-key {
  top: 50px;
  width: 40px;
  height: 200px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  background-color: black;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
}

.black-key:hover {
  cursor: pointer;
}

.white-key[data-order='1'] {
  left: 60px;
}

.white-key[data-order='2'] {
  left: 120px;
}

.white-key[data-order='3'] {
  left: 180px;
}

.white-key[data-order='4'] {
  left: 240px;
}

.white-key[data-order='5'] {
  left: 300px;
}

.white-key[data-order='6'] {
  left: 360px;
}

.black-key[data-order='0'] {
  left: 40px;
}

.black-key[data-order='1'] {
  left: 100px;
}

.black-key[data-order='2'] {
  left: 160px;
}

.black-key[data-order='3'] {
  left: 220px;
}

.black-key[data-order='4'] {
  left: 280px;
}

.black-key[data-order='5'] {
  left: 340px;
}

.note-name {
  position: absolute;
  top: 250px;
  left: 20px;
  font-size: xx-large;
  font-weight: 600;
}

/**************
Played Keys Log Styles
**************/

.log-display {
  position: relative;
  top: 440px;
  left: 20%;
  font-size: medium;
  font-weight: 400;
  margin-right: 35%;
}

.log-name {
  font-weight: 600;
}

/**************
Input Field Styles
**************/

.input-form {
  position: relative;
  top: 400px;
  left: 20%;
}
